.font-serif-sans {
  font-family: "Noto Serif", "Noto Sans", sans-serif;
}

.hero-banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.4) 100%), url("https://lh3.googleusercontent.com/aida-public/AB6AXuARz2MjIert2hpGPJUPK7yRSQLKBhI7YRJtht_wfCESLH5qAkV-djWFAetT8XVGSIoUKSaX_A4MU74p3KuVBOwEeIc7wDLXXpGIJciZUQVz66tLqsMDTyI999W-2-iDxzFnZ_-eELzwLtZv0FnvWByfXZnDiwoA6Yj1yzYcDoJzGKuV0j8LhKnTiEU68Cy1rlQJFI1n8egwJVGZPT1Hh1D8cYeEC9L7eoNrO7I_XA15rPSAY0kFyZk6aJDU_w9Rn6n2WVjzaJIo3kKV");
}

.services-card-1 {
  background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuDkFx3r_6FRtzlFb04iBiRXtq5sXMfWWQfGVODWDLNhHN0aRhy0yeWhF88M_0Fl_NEopSA3uZLKWJJWIpcvXTxPdh7haL7zgD7qfd4I05K3tk6xIw9F_mlKm3qNqjIO2RFH18mOCdLPSe9m6GISttIzZQIs47jtay36FG0IgXRFpcwOb1dJAb8VtB4jfjbHzVjVLIbgunriVK_EK8fNV6Zao6k3OCKs3Q7qlCrvwyORGflTvVHBxmzUoVYoH3gYxtW-wVUEUjSrK7PB");
}

.services-card-2 {
  background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuDEHCkkdVVM5om1vrtELlC1ScwuQTZOOLOol4281T110b46due3vI3WDEGxQGuy6WcH0QAYLxhfKH5QOWspuHg8uhT6vXk022LB8ps-nW2qekcibHucI02AXHsqoiRSHpWV25lSSZ2LvGVxmocoFIIvcbojhHiDaaalmpg32nXH11I6UHzAb3IFeNjekp1i5hXkqf56ABH__6Uuwbm0es4_Z8Fa_iQQS1wIjziiKZNztPdCC5CnlbyjAwsJsuUSTR2k8yENSmo8e80i");
}

.services-card-3 {
  background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuC1aSlzhtA0tMFjhs33EpVoVPjmbFEGKBX640aElfMfNg7CasXhBDsY4sZOW-wfsuNZCOGBW2r5DQhHfVrqh7iutmypcSgkvIOe11tYeozbXSKVkKbUuQNkvHanbWlgCl3ooWtHbguqhf8HF0ZVEJwc6MKt03EWdr4h8TTSYfy1gKzZUd3hmLDC0tfjv7hob32N3ObXrVL7aXk_j8RgvpTnNbLJVwCONCuernr1C4M3rc-ID4Zykyba-d5jr2aD8YsxfGqG2kiWCjaa");
}

.services-card-4 {
  background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuDUCPXW7hqkoQ0Y-6cEG6q-diIPWn2Rbw0KSZ-vLB6K2CFr5qreIR7LNxezlEtuxNIY31lEyiD3f6XJapD1X7LMq5kpl2ogxCZLQ80_ekpsGUysqd9wuh-7meUJUbw0wom16u3IZgOcJ1Z0ovDBMHQoHDiTb7Pxjz21mUFkMFvfjtKkIyky3nh0BRQxo48-RXcj5_PC08QYKJFDn10MI7Qxje_mpvGAA2VR06S3UAMburmSFm0OUKs1aeZ211n9clALWAbGGCZqG5GW");
}

.about-founder-image {
  background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBICJErKaV07WvZuuYG2MynwzDunKsyn_aPpS-CY3qi-ldtKEWu68fORrF-1dGw-L-D37955z9_vOODN4jeq8dLuM9lj63b9Zo36b56Ul_EXCADHKtfzehOZnWNufKxZB8e4gISHVTq80fMHKBw4wJaFxSoWo5EslOnPTAFXUxBrjt0T_MpM-Tk4khO8KrdjRG6-Obtu1rYS3jLHPU2u8WnGosh3ioCjGibtKq7S5TZifKVZflGSVAmFSgyNbUfckYyO4Xfigqn0v-x");
}

.contact-banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.4) 100%), url("https://lh3.googleusercontent.com/aida-public/AB6AXuD04dhgELgrcontBWiROQvjO6i5_RbGv6PxW7igMOu3W1HcvGIv7kL7Q1N2ovdHtsBB0Pc7qVzxq-dmclXrDTMGeGklVDFja7VUw_34LDTdQeXHnYVsssaG1_rJ6r6lco3zvLsd7yTKqPmlMXnALKN88f3iE7fijLeLVGajXiekX_JUe5gojWGOX_neh9pMlLj_23DfPkxsujiFz2CwXtANS-U9EVFde0Usb7W5P0spgUAbdLM3vv9w7KCBEI-MrNrZpwsPXc3x9zgB");
}
.portfolio-card-1 {
  background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuCDD1xgzpYwZLKsgpV4-VnZuQfJQz_zAIKlOp-HOIq9-5wHrzLTMYX24frtTny3Yq2w-WyqabjVD7Gikz9g6fsQqh0QOIkYob0TfkWTiAr3z5IOZz60WK1QSutKM92TqxgwmGxC-Zl-0ti3yZ_Pxhd9r96M1gjmpoxx9IOdWv3hN7G2TvzRPl3gucmunhF4poV-NQ4qk9UoYGbTdTcLljdFCnwjx-gG1ctJweiWriWA9VJhF_LjVmSZNHKbsnZJmF0jTKfIFjPcT4Rg");
}
.portfolio-card-2 {
  background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuAp4aE7oO60nPW-ZF7eTa9m3NGH6lM4lnz56vPOYKzvcUUyxb7-TLNb49vDoqHTaH91ob7R_SoPGsm33DaXOHB_gGhUsn6WZgH5svc9ZVMHsfezJ7bUZo2XB5LBulXMbnWlHQsyoyQlfrVuznmRu15tMffnTvgYhV9Z25CS-sp018Ofik7I8iUWgL_qrLZGIrhQpcIACQXQMmWj8Ici159sgv8kigzOijmssnx7JIvONQ2ZU531FmfV5TpcKyfxcXXYmxHcM-jX2De9");
}
.portfolio-card-3 {
  background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBRkR0Chk7jFUTRyJr34w0gqZGvNACfPqIDtyJL2RfGk4_Zc-Xo7LUlSIAJr-LoOLDVB_Pp9WHqJzzJ9ND2oHhsQWwpcW0Z4vUYsmDbtLlcAcQ80TrDDSmCLJjwfXekw-JamzR4LXN130Y5icc_GUQunqZv2MLbMH1e9_mPYVEbb2fp-hdVGTdySY-EMrOkLGxS7Iog0fPvqVoid7IGUP92zMJ-TRDNquh_-oiu7RLIB5eDJEkm9WwBlAOfXw-EgHyfSlMkB8QNSUEV");
}
.portfolio-card-4 {
  background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuARVvHaH7VpaImjd-TQWQg5EmBbj3ojQttLxhMLUpOx4NPEF3jtuUKOKVS1WgP-axz5kOUksYlOEq6GNJQI9PcUvt0wp3_fmIoXurQHbAEKVMx8mr4GFs-DYaECfXQe8PLtnrh0TjsiSn_pqUwn_ezVCkNBBsCHK-JzOmvVclHCo3QdPYM66HX1W3FFPO8K-LarjChI4ljIkARCtrgCfQHzOzGGLvK7ukbRJtJa9kzPl2ng-qIhPH6bLM_biAXf9P2fqWmZ6CzoRdqE");
}
.portfolio-card-5 {
  background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuDbtGkQq_1ObjLwMUtCUK0kiUwu-Z8b1ZahaDzrSeOVB9rVf8B3mxAclfszdCXmpsrxIHdp5N288Ni_-_PrVbkStk91MtxxiyrBRBPWGn77HyyIOop_Eb0zOuyDJzRwU97OrR4bUa5SiIZUL-M9mbzps6lJtOz61eMe8egLo2Z0nHqFXWr9HxUgo1ba3rB3sdy-PXscqYrXRkbm6wr4JCyeJmv_1XxnhmWC1pt90jxOSwibRCUw55N7j5bmyj1VSLhbz6XUCRdRuapD");
}
.portfolio-card-6 {
  background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuAEO9PyEadoARweNgszqgjOHn9WCLQBQF5_cA2Xczrk5cIPMElmL1mkpgp1XC9idin7SVw-RAlaJMU0QgiXto1urHA3GUElCRSQQQYmYyUmvVbMNXG4-zeono0fI2T33XL3gjMAUYeMf4Jp2amZl6aeOY3J2v_pLZp5fWZZBD_bUXv6pSshYG6hFHn315rSMBucIodeyKHV-oCQOVOHdMGEzpGowNkNpfEVyIxub5q_bmPpoMCERotuthVJ4AruQvnR48EwPBULIEQz");
}
.portfolio-card-7 {
  background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuCBikzmXoU6fpjwygxGt9cALZX1jpYZExBcLlC_Weqe_BvT76t2iUnOTCn3kVte3obncMB3AbBXsuoE-BI9Ttd-0BzTv04qu41MQSAM3tZqn6yuyhpFXTLnzLIc0yM1orQtRbk6CZ0ugp7yQu9qZEBeOkUQCx5LeASzNocVrkiQycvAfsvtkops59JFAh8R-zXV6KQFLpwR-bdxwazSXfAgUwh_sOoNriXM5IoOU3xt0eKg-cHi9-4wW4n0V-bWQotfAM90-J2WSwU1");
}
.portfolio-card-8 {
  background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBh_qwbgUSeqxbgRjdU23Q8eySYaOdZaVo1xIx9h12lWLgapVbRfdvAl0-JWzP-lD-F-OrNW_dGKjZSnFDn2IyEzDOE2KApjz5uTWgiICUM6SBEZJAZxf3PJgU60yy5U_yrD811nIu9s-aQj0Lak8yAdfhJ9IuNtAWsrtuQ1zN5hVyF4kZvEw2lxtI9OuoiqRJ2y_Pryrs4Qk1hBrWENY1thSRId1Drw-7AQd55cxuc6UNzXacodEPZiWRbsKqG4C_Ex8g8AhvooTbv");
}
.portfolio-card-9 {
  background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuA1Ij29S2zHzXdDLFsGicq70MvG6zB6Mc6rNDX05l4rIEbvVwX6x_z-_m4wWtqWGi8v2V-IYzLZFdwaFVodF87x5_2HNo4JTIoOS_H89PaYRY1CO-Ixr05MR55Z4956_7MFK5T3RstZWMIijz1RrFxuE3_Kx2hz0aRaWPP4DI-Ff37RYHsbrl8WW3vYuuVytZbirNqnHgQbNJZN4cczft5rcK2jCTqgT8icGIp9kL7_U8LJ0BowHknbV18e3TXqy44hx6By6sJFPG_Z");
}
.filter-button.active {
  background-color: #caa810;
  color: white;
}
.filter-button.inactive {
  background-color: #f4f3f0;
  color: #181611;
} 